// out: css/main.css, sourcemap: true

body {
  background-color: rgb(240,0,0);
}

h1 {
  text-align: center;
  margin-bottom: 75px;
  font-family: 'Bangers', cursive;
  font-size: 60px;

}

img {
  width: 1000px;
  height: auto;
}
 img {
   margin: 0 auto;
   display: block;
 }
