// out: css/main.css, sourcemap: true

html, body {
  margin: 0;
}


body {
  background-image: url("../Images/somuchamerica.png");
  background-size: 150%;
  background-attachment: fixed;
  background-position: center center;
}


h1 {
  text-align: center;
  margin-bottom: 75px;
  font-family: 'Bangers', cursive;
  font-size: 60px;

}

.USA {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

.map {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.state {
  width: 1em;
  height: 1em;
  padding: 0;
  border: solid 0.125em;
  border-radius: 1em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  position: absolute;
  z-index: 1;
  font-size: 1em;
  background-color: transparent;
  display: block;
  cursor: pointer;
}

#florida {
  border-color: white;
  top: 82%;
  left: 79%;

  &:hover {
    background-color: white;
  }
}

#maryland {
  border-color: white;
  top: 40%;
  left: 83%;

  &:hover {
    background-color: white;
  }
}

#california {
  border-color: white;
  top: 46%;
  left: 6%;

  &:hover {
    background-color: white;
  }
}

#alabama {
  border-color: white;
  top: 69%;
  left: 67%;

  &:hover {
    background-color: white;
  }
}

#alaska {
  border-color: white;
  top: 82%;
  left: 12%;

  &:hover {
    background-color: white;
  }
}


#arizona {
  border-color: white;
  top: 60%;
  left: 22%;

  &:hover {
    background-color: white;
  }
}

#arkansas {
  border-color: white;
  top: 64%;
  left: 57%;

  &:hover {
    background-color: white;
  }
}

#colorado {
  border-color: white;
  top: 46%;
  left: 34%;

  &:hover {
    background-color: white;
  }
}

#connecticut {
  border-color: white;
  top: 30%;
  left: 89%;

  &:hover {
    background-color: white;
  }
}


#delaware {
  border-color: white;
  top: 41%;
  left: 86%;

  &:hover {
    background-color: white;
  }
}

#georgia {
  border-color: white;
  top: 69%;
  left: 74%;

  &:hover {
    background-color: white;
  }
}

#hawaii {
  border-color: white;
  top: 95%;
  left: 34%;

  &:hover {
    background-color: white;
  }
}

#idaho {
  border-color: white;
  top: 25%;
  left: 20%;

  &:hover {
    background-color: white;
  }
}


#illinois {
  border-color: white;
  top: 44%;
  left: 62%;

  &:hover {
    background-color: white;
  }
}

#indiana {
  border-color: white;
  top: 42%;
  left: 67%;

  &:hover {
    background-color: white;
  }
}

#iowa {
  border-color: white;
  top: 37%;
  left: 54%;

  &:hover {
    background-color: white;
  }
}

#kansas {
  border-color: white;
  top: 48%;
  left: 46%;

  &:hover {
    background-color: white;
  }
}


#kentucky {
  border-color: white;
  top: 51%;
  left: 70%;

  &:hover {
    background-color: white;
  }
}

#louisiana {
  border-color: white;
  top: 77%;
  left: 57%;

  &:hover {
    background-color: white;
  }
}

#maine {
  border-color: white;
  top: 14%;
  left: 93%;

  &:hover {
    background-color: white;
  }
}

#mass {
  border-color: white;
  top: 26%;
  left: 91%;

  &:hover {
    background-color: white;
  }
}


#minnesota {
  border-color: white;
  top: 22%;
  left: 52%;

  &:hover {
    background-color: white;
  }
}

#michigan {
  border-color: white;
  top: 30%;
  left: 69%;

  &:hover {
    background-color: white;
  }
}

#mississ {
  border-color: white;
  top: 69%;
  left: 62%;

  &:hover {
    background-color: white;
  }
}

#missouri {
  border-color: white;
  top: 48%;
  left: 55%;

  &:hover {
    background-color: white;
  }
}


#montana {
  border-color: white;
  top: 16%;
  left: 28%;

  &:hover {
    background-color: white;
  }
}

#nebraska {
  border-color: white;
  top: 38%;
  left: 43%;

  &:hover {
    background-color: white;
  }
}

#nevada {
  border-color: white;
  top: 41%;
  left: 14%;

  &:hover {
    background-color: white;
  }
}

#newhamp {
  border-color: white;
  top: 21%;
  left: 90%;

  &:hover {
    background-color: white;
  }
}


#newjer {
  border-color: white;
  top: 37%;
  left: 87%;

  &:hover {
    background-color: white;
  }
}

#newmex {
  border-color: white;
  top: 62%;
  left: 31%;

  &:hover {
    background-color: white;
  }
}



#newyork {
  border-color: white;
  top: 27%;
  left: 84%;

  &:hover {
    background-color: white;
  }
}

#northcaro {
  border-color: white;
  top: 56%;
  left: 83%;

  &:hover {
    background-color: white;
  }
}

#northdak {
  border-color: white;
  top: 16%;
  left: 43%;

  &:hover {
    background-color: white;
  }
}


#ohio {
  border-color: white;
  top: 41%;
  left: 73%;

  &:hover {
    background-color: white;
  }
}

#oklahoma {
  border-color: white;
  top: 60%;
  left: 47%;

  &:hover {
    background-color: white;
  }
}


#oregon {
  border-color: white;
  top: 21%;
  left: 10%;

  &:hover {
    background-color: white;
  }
}

#penn {
  border-color: white;
  top: 35%;
  left: 81%;

  &:hover {
    background-color: white;
  }
}

#rhode {
  border-color: white;
  top: 30%;
  left: 92%;

  &:hover {
    background-color: white;
  }
}


#southcaro {
  border-color: white;
  top: 63%;
  left: 79%;

  &:hover {
    background-color: white;
  }
}

#southdak {
  border-color: white;
  top: 27%;
  left: 43%;

  &:hover {
    background-color: white;
  }
}

#tennessee {
  border-color: white;
  top: 57%;
  left: 70%;

  &:hover {
    background-color: white;
  }
}


#texas {
  border-color: white;
  top: 75%;
  left: 44%;

  &:hover {
    background-color: white;
  }
}

#utah {
  border-color: white;
  top: 43%;
  left: 22%;

  &:hover {
    background-color: white;
  }
}


#vermont {
  border-color: white;
  top: 19%;
  left: 88%;

  &:hover {
    background-color: white;
  }
}

#virginia {
  border-color: white;
  top: 47%;
  left: 82%;

  &:hover {
    background-color: white;
  }
}

#washington {
  border-color: white;
  top: 9%;
  left: 12%;

  &:hover {
    background-color: white;
  }
}

#westvirginia {
  border-color: white;
  top: 45%;
  left: 77%;

  &:hover {
    background-color: white;
  }
}


#wisconsin {
  border-color: white;
  top: 25%;
  left: 60%;

  &:hover {
    background-color: white;
  }
}

#wyoming {
  border-color: white;
  top: 31%;
  left: 30%;

  &:hover {
    background-color: white;
  }
}

#puerto {
  border-color: white;
  top: 96%;
  left: 90%;

  &:hover {
    background-color: white;
  }
}


#washdc {
  border-color: white;
  top: 44%;
  left: 83%;

  &:hover {
    background-color: white;
  }
}
